.navbar{
    background-color: aqua;
    padding: 5px;
}
.ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
}
.link:hover{
    color: white;
    background-color: black;
}